#!/bin/bash
set -euo pipefail

dnf install -y docker
systemctl enable --now docker

aws ecr get-login-password --region ${region} | docker login --username AWS --password-stdin ${ecr_repo}

docker run -d --name app --restart unless-stopped -p 8080:8080 ${ecr_image}
